
body {
	height: 200 px;
      background-image:url("images/pvpcoin.png");
      background-repeat:no-repeat;

}

.position {         /* odds */
   color:#FFFFFF;
}
#oddsTable {     /* Odds table */
    width: 1350px;   
}
#oddsTable td{      /*  odds table td elements  */
    width: 105px;
    text-align:center;
}

#guess img {        /*  cards  */
   width: 35px; 
   height: 48px;
   position: relative;
   top: 0px;
}

#aaa {              /* 5 sec countdown */
color:#FFFFFF;
position: absolute;
left:604px;
top:120px;
}

#lock {              /* timeIsUp() lock */
color:#FFFFFF;
position: absolute;
left:623px;
top:120px;
display: none;
}

#winner {              /* checkwagers() */
color:#FFFFFF;
position: absolute;
left:350px;
top:250px;
display: none;
}

#won {              /* checkwagers() */
color:#FFFFFF;
position: absolute;
left:623px;
top:140px;
display: none;
}

#stopBlockchain {              /* line 1513 game.js & line 151 index.html*/
color:#FFFFFF;
position: absolute;
left:535px;
top:140px;
}

#ten {              /* box 10 */
color:#FFFFFF;
position: absolute;
left:900px;
top:223px;
height:100px;
width:95px;
}

#nine {             /* box 9 */
color:#FFFFFF;
position: absolute;
left:788px;
top:223px;
height:100px;
width:95px;
}

#eight {            /* box 8 */
color:#FFFFFF;
position: absolute;
left:685px;
top:223px;
height:100px;
width:95px;
}

#ace {              /* box A */
color:#FFFFFF;
position: absolute;
left:20px;
top:223px;
height:100px;
width:90px;
}

#two {              /* box 2 */
color:#FFFFFF;
position: absolute;
left:105px;
top:223px;
height:100px;
width:105px;
}

#three {            /* box 3 */
color:#FFFFFF;
position: absolute;
left:210px;
top:223px;
height:100px;
width:95px;
}

#four {             /* box 4 */
color:#FFFFFF;
position: absolute;
left:305px;
top:223px;
height:100px;
width:95px;
}

#jack {             /* box J */
color:#FFFFFF;
position: absolute;
left:1010px;
top:223px;
height:100px;
width:95px;
}

#queen {            /* box Q */
color:#FFFFFF;
position: absolute;
left:1120px;
top:223px;
height:100px;
width:95px;
}

#king {             /* box K */
color:#FFFFFF;
position: absolute;
left:1240px;
top:223px;
height:100px;
width:95px;
}

#seven {            /* box 7 */
color:#FFFFFF;
position: absolute;
left:590px;
top:223px;
height:100px;
width:95px;
}

#six {              /* box 6 */
color:#FFFFFF;
position: absolute;
left:495px;
top:223px;
height:100px;
width:95px;
}

#five {             /* box 5 */
color:#FFFFFF;
position: absolute;
left:402px;
top:223px;
height:100px;
width:95px;
}

#textbox {         /* wager entry */
position: absolute;
left:928px;
top:592px;
resize: none;
display: none;
}

#button {         /* button */
position: absolute;
left:980px;
top:590px;
resize: none;
display: none;
}

p {           /* money */
color:#FFFFFF;
position: absolute;
left:550px;
top:560px;
}

p1 {               /* status */
color:#FFFFFF;
position: absolute;
left:550px;
top:600px;
}

p2 {               /* bet */
color:#FFFFFF;
position: absolute;
left:1080px;
top:590px;
}

#toteA {              /* wagers A */
position: absolute;
left:43px;
top:305px;
color:#660000;
}

#aces {              /* cards in play */
position: absolute;
left:45px;
top:200px;
color:#660000;
}

#tote2 {              /* wagers 2 */
position: absolute;
left:130px;
top:305px;
color:#660000;
}

#twos {              /* cards in play */
position: absolute;
left:144px;
top:200px;
color:#660000;
}

#tote3 {              /* wagers 3 */
position: absolute;
left:232px;
top:305px;
color:#660000;
}

#threes {              /* cards in play */
position: absolute;
left:244px;
top:200px;
color:#660000;
}

#tote4 {              /* wagers 4 */
position: absolute;
left:325px;
top:305px;
color:#660000;
}

#fours {              /* cards in play */
position: absolute;
left:341px;
top:200px;
color:#660000;
}

#tote8 {              /* wagers 8 */
position: absolute;
left:720px;
top:305px;
color:#660000;
}

#eights {              /* cards in play */
position: absolute;
left:726px;
top:200px;
color:#660000;
}

#tote9 {              /* wagers 9 */
position: absolute;
left:820px;
top:305px;
color:#660000;
}

#nines {              /* cards in play */
position: absolute;
left:825px;
top:200px;
color:#660000;
}

#tote10 {              /* wagers 10 */
position: absolute;
left:912px;
top:305px;
color:#660000;
}

#tens {              /* cards in play */
position: absolute;
left:934px;
top:200px;
color:#660000;
}

#toteJ {              /* wagers J */
position: absolute;
left:1042px;
top:305px;
color:#660000;
}

#jacks {              /* cards in play */
position: absolute;
left:1045px;
top:200px;
color:#660000;
}

#toteQ {              /* wagers Q */
position: absolute;
left:1144px;
top:305px;
color:#660000;
}

#queens {              /* cards in play */
position: absolute;
left:1150px;
top:200px;
color:#660000;
}

#toteK {              /* wagers K */
position: absolute;
left:1260px;
top:305px;
color:#660000;
}

#kings {              /* cards in play */
position: absolute;
left:1265px;
top:200px;
color:#660000;
}

#tote6 {              /* wagers 6 */
position: absolute;
left:520px;
top:305px;
color:#660000;
}

#sixs {              /* cards in play */
position: absolute;
left:540px;
top:200px;
color:#660000;
}

#tote7 {              /* wagers 7 */
position: absolute;
left:615px;
top:305px;
color:#660000;
}

#sevens {              /* cards in play */
position: absolute;
left:630px;
top:200px;
color:#660000;
}

#tote5 {              /* wagers 5 */
position: absolute;
left:428px;
top:305px;
color:#660000;
}

#fives {              /* cards in play */
position: absolute;
left:442px;
top:200px;
color:#660000;
}

#toteS {              /* wagers spades */
position: absolute;
left:125px;
top:140px;
color:#660000;
}

#yourbets {               /* your bet confirmation conversation */
color:#FFFFFF;
position: absolute;
left:940px;
top:120px;
}

#betsHearts {               /* static view of all bets this hand */
color:#FFFFFF;
position: absolute;
left:1047px;
top:141px;
}

#betsSpades {               /* static view of all bets this hand */
color:#FFFFFF;
position: absolute;
left:1092px;
top:141px;
}

#betsDiamond {             /* static view of all bets this hand */
color:#FFFFFF;
position: absolute;
left:940px;
top:141px;
}
#betsClubs {               /* static view of all bets this hand */
color:#FFFFFF;
position: absolute;
left:1005px;
top:141px;
}

#betsA {               /* static view of all bets this hand */
color:#FFFFFF;
position: absolute;
left:940px;
top:160px;
}

#bets2 {               /* static view of all bets this hand */
color:#FFFFFF;
position: absolute;
left:955px;
top:160px;
}

#bets3 {               /* static view of all bets this hand */
color:#FFFFFF;
position: absolute;
left:970px;
top:160px;
}

#bets4 {               /* static view of all bets this hand */
color:#FFFFFF;
position: absolute;
left:985px;
top:160px;
}

#bets5 {               /* static view of all bets this hand */
color:#FFFFFF;
position: absolute;
left:1000px;
top:160px;
}

#bets6 {               /* static view of all bets this hand */
color:#FFFFFF;
position: absolute;
left:1015px;
top:160px;
}

#bets7 {               /* static view of all bets this hand */
color:#FFFFFF;
position: absolute;
left:1030px;
top:160px;
}

#bets8 {               /* static view of all bets this hand */
color:#FFFFFF;
position: absolute;
left:1045px;
top:160px;
}

#bets9 {               /* static view of all bets this hand */
color:#FFFFFF;
position: absolute;
left:1060px;
top:160px;
}

#bets10 {               /* static view of all bets this hand */
color:#FFFFFF;
position: absolute;
left:1071px;
top:160px;
}

#betsJ {               /* static view of all bets this hand */
color:#FFFFFF;
position: absolute;
left:1093px;
top:160px;
}

#betsQ {               /* static view of all bets this hand */
color:#FFFFFF;
position: absolute;
left:1105px;
top:160px;
}

#betsK {               /* static view of all bets this hand */
color:#FFFFFF;
position: absolute;
left:1122px;
top:160px;
}

#spades {              /* cards in play */
position: absolute;
left:117px;
top:113px;
color:#FFFFFF;
}

#oddsS {              /* odds spades */
position: absolute;
left:127px;
top:171px;
color:#FFFFFF;
}

#spade {             /* box spade */
color:#FFFFFF;
position: absolute;
left:110px;
top:132px;
height:36px;
width:52px;
}

#toteH {              /* wagers hearts */
position: absolute;
left:45px;
top:140px;
color:#660000;
}

#heart {             /* box heart */
color:#FFFFFF;
position: absolute;
left:28px;
top:132px;
height:36px;
width:58px;
}

#hearts {              /* cards in play */
position: absolute;
left:37px;
top:113px;
color:#FFFFFF;
}

#oddsH {              /* odds hearts */
position: absolute;
left:47px;
top:171px;
color:#FFFFFF;
}

#toteC {              /* wagers clubs */
position: absolute;
left:285px;
top:140px;
color:#660000;
}

#clubs {              /* cards in play */
position: absolute;
left:275px;
top:113px;
color:#FFFFFF;
}

#club {             /* box club */
color:#FFFFFF;
position: absolute;
left:265px;
top:132px;
height:36px;
width:58px;
}

#oddsC{              /* odds clubs */
position: absolute;
left:283px;
top:171px;
color:#FFFFFF;
}

#toteD{              /* wagers diamonds */
position: absolute;
left:205px;
top:140px;
color:#660000;
}

#diams {              /* cards in play */
position: absolute;
left:196px;
top:113px;
color:#FFFFFF;
}

#oddsD{              /* odds diamonds */
position: absolute;
left:205px;
top:171px;
color:#FFFFFF;
}

#diam {             /* box diamond */
color:#FFFFFF;
position: absolute;
left:190px;
top:132px;
height:36px;
width:52px;
}

#select {         /* left side bar */
left:1px;
top:0px;
width:10px;
height:410px;
}

#pay {               /* pay */
color:#FFFFFF;
position: absolute;
left:635px;
top:120px;
}

#visit {             /* visit */
color:#00af00;
position: absolute;
left:60px;
top:530px;
}

#hits {             /* hits */
position: absolute;
left:30px;
top:600px;
}

#adsence {             /* adsence */
position: absolute;
left:556px;
top:388px;
}

/* #b1{             /* banner 1 */
/* position: absolute;
/* left:1090px;
/* top:500px;
/* width:200px;
/* height:30px;
/* }

/* #b2{             /* banner 2 */
/* position: absolute;
/* left:1090px;
/* top:120px;
/* width:200px;
/* height:30px;
/* }

/* #b3{             /* banner 3 */
/* position: absolute;
/* left:70px;
/* top:120px;
/* width:200px;
/* height:30px;
/* }

/* #b4{             /* banner 4 */
/* position: absolute;
/* left:70px;
/* top:500px;
/* width:200px;
/* height:30px;
/* }

/* #b5{             /* banner 5 */
/* position: absolute;
/* left:160px;
/* top:305px;
/* width:200px;
/* height:30px;
/* }

/* #b6{             /* banner 6 */
/* position: absolute;
/* left:970px;
/* top:305px;
/* width:200px;
/* height:30px;
/* }

#rules {             /* rules */
color:#FFFFFF;
position: absolute;
left:1200px;
top:610px;
}

#addyourbanner {    /* add your banner */
color:#FFFFFF;
position: absolute;
left:1200px;
top:585px;
}

#faq {             /* faq */
color:#FFFFFF;
position: absolute;
left:1200px;
top:560px;
}

#like {             /* like */
position: absolute;
left:25px;
top:565px;
}

#sound {             /* mp3 */
position: absolute;
left:70px;
top:524px;
display: none;
}

#winnings {             /* winnings is payout*/
color:#FFFFFF;
position: absolute;
left:711px;
top:140px;
display: none;
}

#winner {             /* winner */
color:#FFFFFF;
position: absolute;
left:350px;
top:200px;
display: none;
}

#message {             /* message */
color:#FFFFFF;
position: absolute;
left:570px;
top:152px;
display: none;
}

#lost {             /* lost */
color:#FFFFFF;
position: absolute;
left:350px;
top:200px;
display: none;
}

#getready {             /* get ready */
color:#FFFFFF;
position: absolute;
left:130px;
top:110px;
display: none;
}

#signin {             /* signin */
color:#FFFFFF;
position: absolute;
left:664px;
top:75px;
}

p6 {               /* overround */
color:#FFFFFF;
position: absolute;
left:1080px;
top:570px;
}

#f {             /* facebook button */
position: absolute;
left:180px;
top:606px;
}

#contest {             /* contest */
color:#FFFFFF;
position: absolute;
left:330px;
top:585px;
}


/* This next section is for our PVPcoin Player vs Player  */

#mined {              /* These are wagers, aka transactions   */
position: absolute;
left:890px;
top:400px;
color:#660000;
}

#pending {              /* These are confirmed blocks and are earning stake rewards   */
position: absolute;
left:200px;
top:425px;
color:#000000;
}

#unconfirmed {              /* These are .1 reward transactions waiting for 120 confirmations  */
position: absolute;
left:200px;
top:460px;
color:#000000;
}

#total {              /* This is the total coins player currently has  */
position: absolute;
left:200px;
top:514px;
color:#000000;
}

#spend {              /* These are confirmed blocks and can spend   */
position: absolute;
left:200px;
top:390px;
color:#000000;
}

#transactions {              /* These are wagers, aka transactions   */
position: absolute;
left:1037px;
top:400px;
color:#000000;
}

#text {              /* Show wager amount in transaction section   */
position: absolute;
left:915px;
top:400px;
color:#000000;
}

#rew {              /* These are reward values that show up in transaction area  */
position: absolute;
left:1150px;
top:400px;
color:#000000;
}

#CPU {              /* These are reward values that show up in transaction area  */
position: absolute;
left:1150px;
top:424px;
color:#000000;
}

#ipaddress {              /* Display players IP address and use it to generate wallet address   */
position: absolute;
left:70px;
top:353px;
color:#000000;
}

#wallet {              /* Display players IP address and use it to generate wallet address   */
position: absolute;
left:70px;
top:372px;
color:#000000;
}

#ipInt {                /* Display players wallet address   */
position: absolute;
left:75px;
top:372px;
color:#660000;
}

/*  POP UP CSS STUFF IS BELOW */

#mainContent a:link, #mainContent a:visited {color:#fff; text-decoration:none; font-size:18px; background:#000000; padding:5px; -webkit-border-radius:10px;
-moz-border-radius:10px}
#mainContent a:hover, #mainContent a:active {color:#fff; text-decoration:none; font-size:18px; background:#333333; padding:5px; -webkit-border-radius:10px;
-moz-border-radius:10px}

/*STYLES FOR CSS POPUP*/

#blanket {
background-color:#111;
opacity: 0.65;
*background:none;
position:absolute;
z-index: 9001;
top:0px;
left:0px;
width:100%;
}

#popUpDiv {
position:absolute;
background:url(images/pop-back.png) no-repeat;
width:600px;
height:227px;
border:5px solid #000; 
z-index: 9002; 
left:800px;
top:585px;
}